<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Meadowlark travel</title>
  </head>
  <body>
  <header><img src="/img/logo.jpg" alt="Meadowlark Travel Logo"></img></header>
    {{{body}}}
  <footer style="background-color:grey; width:100%; height:200px; text-align:center;"> this is the footer</footer>
  </body>
</html>

