<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Meadowlark travel</title>
  </head>
  <body>
  <header><img src="/img/logo.jpg" alt="Meadowlark Travel Logo"></img></header>
    {{{body}}}
  </body>
</html>

